.logo{
      background-color: #333333;
      display: flex;
      align-items: center;
      justify-content: space-between;
      padding: 1rem;
}
.slider img{
      width: 100%;
      height: 100%;
}.contenido{
      width: 100%;
      height: 100%;
      position: relative;
}#textosl p{
      position: absolute;
      margin-top: -16%;
      font-family: 'Marcellus', serif;
      font-size: 3rem;
      background-color: rgba(29, 21, 21, 0.274);
      color: white;
      width: 50%;
      height: 37%;
      display: flex;
      justify-content: space-between;
      align-items: center;
      flex-flow: row wrap;

}