.formulario_R{
    margin: 0%;
    width: 100%;
    
    padding-top: 3%;
    background-image: url(R.jfif);
    background-repeat: no-repeat;
    background-size: cover;
    
}#CR{
    margin-left: 0% !important;
    margin-right: 0% !important;
    
}
#Side_r{
    background-color: rgba(30, 110, 190, 0.748);
    display: flex;
    flex-direction: column;
    align-items:center;
    justify-content: center;
    margin-top: 10%;
    padding-top: 3%;
    width:100%;
}#logo_r{
    display: flex;
    justify-content: center;
}
#logo_r  img{
    width: 40%;
}
#lugar_r, #lugar_r h1{
    color: white;
    font-size: 1em; 
    margin-top: 1%;   
}
#registro_r{
    background-color: rgba(251, 247, 247, 0.696);
    margin: 7%;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.info_r{
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.info_r label{
   margin-bottom: 2%;
   margin-top: 3%;
   font-size: 0.9em;
}
.info_r div{
    display: flex;
    justify-content: flex-start;
    width: 12em;
}
.info_r input, .info_r select{
    display: flex;
    justify-content: flex-start;
    width: 15em;
    height: 2.3em;
    font-size: 0.8em;
}
.info_r input::placeholder{
    font-size: 0.8em;
}
.info_r2, .info_r2 button{
    display:flex;
    justify-content: center;
    margin-bottom: 1%;
    margin-top: 2%;
}
/*tablet*/
@media screen and (min-width: 500px) {
    
.info_r label{
    margin-bottom: 2%;
    margin-top: 3%;
    font-size: 0.9em;
 }
 .info_r div{
     display: flex;
     justify-content: flex-start;
     width: 20em;
 }
 .info_r input, .info_r select{
     display: flex;
     justify-content: flex-start;
     width: 20em;
     height: 2em;
     font-size: 1em;
 }
 .info_r input::placeholder{
     font-size: 0.8em;
 }
 .info_r2, .info_r2 button{
     display:flex;
     justify-content: center;
     margin-bottom: 1%;
     margin-top: 2%;
 }
}
/*media tablet*/
@media screen and (min-width: 620px) {
    #lugar_r, #lugar_r h1 {
        color: white;
        font-size: 1.2em;
        margin-top: 1%;
      }
    .tittle_r{
      margin-top: 5%;  
    }

}

/*portatil*/
@media screen and (min-width: 720px) {
    #CR{
        display: flex;
    }
    #Side_r{
        display: flex;
        width: 7em;
        margin-top: 0%;
    }

    #registro_r{
        margin: 7%;
        width: 100%;
    }

    #logo_r  img {
        width: 90%;
    }
    #lugar_r, #lugar_r h1 {
        color: white;
        font-size: 1em;
        margin-top: 10%;
        text-align: center;
    }
    .form_camp{
        display: flex;
        flex-direction: column;
        justify-content: space-around;
    }
    .info_r div {
        display: flex;
        justify-content: flex-start;
        width: 13em;
    }
    .info_r input{
        width: 13em;
    }

    .info_r select{
        width: 13em;
    }

    .info_r{
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        align-items: center;
        width: 35em;
        padding: 1em;
    }
    .formulario_R{
        padding-top: 0;
    }

}

/*desktop*/
@media screen and (min-width: 1200px) {
    #registro_r{
        margin: 2em;
    }
    .info_r{
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        align-items: center;
        width: 60em;
        padding: 1em;
        margin-left: -5em;
    }

    .info_r input{
        width: 20em;
    }

    .info_r select{
        width: 20em;
    }
    #Side_r{
        width: 14em;
    }
    .formulario_R{
        padding-top: 0;
    }
}