:root{
    --azulclaro: #48D6ED;
    --azuloscuro: #337AB7;
    --azulnegro: #303342;
    --negro: #333333;
    --negro2: #000;
    --gris: #B2B3B3;
    --fondo: #FFFEFC;
    --verdeazul: #157A8A;
    --Magenta: #9C2759;
    --blanco: #fff;
    --degradado: linear-gradient(49.54deg, #337AB7 2.89%, #0B3860 80.34%);
  }

  .h1__dash,.h2__dash,.h3__dash,.h4__dash,.h5__dash{
    font-family: 'Marcellus', serif;
}
.formulario{
    background-color: rgba(255, 255, 255, 0.425);
    margin-left: 22%;
    margin-top: 3%;
    border-radius: 5px;
    width: 75%;
    height: 90%;
}.form .img__dash{
    width: 20%;
}.titulo__dash{
    display: flex;
    justify-content: center;
    margin-top: 2%;
    font-size: 2em;
}.logo-img .img__dash{
    width: 60%;
}.carga{
    background-color: var(--azuloscuro);
    height: 3em;
    width: 60%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 5%;
}.carga .i__dash{
    font-size: 2em;
    color: #fff;
}#log-des{
    margin-right: 20%;
}.logo-img .button__dash{
    width: 60%;
    height: 4em;
    font-size: 1.2em;
    background-color: var(--negro);
    color: white;
    margin-top: 5%;
    display: flex;
    align-items: center;
    justify-content: center;
    border: none;
}
.datos{   
    background: url(./fondo.jpg);
    background-size: cover;
    display: flex;
   
}
.info{
    padding: 5%;
    margin-left: 3%;
    display: flex;
    flex-direction: row;
}.form{
    font-size: 1em;
    width: 65%;
}
.doc{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    
}.nom{
    margin-top: 5%;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    

}.origen{
    margin-top: 5%;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}.genero{
    margin-top: 5%;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}.contra{
    margin-top: 5%;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}.form .input__dash{
    margin-top: 4%;
    font-size: 1em;
    color: var(--negro2);
    height: 2em;
    border: none;
    background-color: rgba(255, 255, 255, 0.719);
}.form .label__dash{
    font-size: 1.2em;

}
.act .button__dash{
    font-size: 1em;
    margin-top: 5%;
    width: 30%;
    height: 3em;
    border: none;
    color: white;
    background-color: var(--negro);

}.cambio .button__dash{
    font-size: 1em;
    margin-top: 5%;
    width: 30%;
    height: 3em;
    border: none;
    color: white;
    background-color: var(--negro);

}

#inf{
    display: flex;
    flex-direction: column;
}#inf .input__dash{
    width: 130%;
}.radio{
    display: flex;
    flex-flow: row nowrap;
}

@media screen and (min-width: 320px) and (max-width: 639px){
    .formulario{
        background-color: rgba(255, 255, 255, 0.445);
    }
    .logo .desktop{
        display: none;
    }.logo .mobile{
        display: block;
    }.info{
        font-size: 0.9em;
        display: flex;
        flex-direction: column;
        
    }.logo-img{
        margin-left: 20%;
        width: 90%;
        margin-bottom: 10%;
    }
    .datos{
        height: 100%;
    }.titulo__dash{
        margin-top: 5%;
        font-size: 1em;
        margin-bottom: 5%;
    }.genero{
        display: flex;
        flex-direction: column;
    }.genero .radio{
    
        font-size: 0.8em;
        display: flex;
        flex-direction: column;
    }.act .button__dash{
        width: 80%;
    }.cambio .button__dash{
        width: 80%;
    }.radio{
        margin-bottom: 3em;
    }.form{
        width: 80%;
    }.datos{
        background: rgb(153, 149, 149);
    }.genero{
        width: 75%;
    }
}
@media screen and (min-width: 640px) and (max-width: 1100px){
    .datos{
        height: 100%;
    }.menu{
        font-size: 0.9em;
        width: 25%;
    }.formulario{
        margin-left: 28%;
        width: 70%;
    }.info{
        font-size: 0.8em;
        display: flex;
        flex-direction: column;
        
        
    }.logo-img{
        margin-left: 30%;
        width: 50%;
        margin-bottom: 5%;
    }
    .datos{
        height: 100%;
    }.titulo__dash{
        margin-top: 5%;
    }.genero{
        display: flex;
        flex-direction: column;
        width: 30%;
        
    }.genero .radio{
    
        font-size: 1em;
        display: flex;
        flex-direction: column;
    }.act .button__dash{
        width:35%;
    }.cambio .button__dash{
        width:35%;
    }.radio{
        margin-bottom: 120%;
    }.form {
        font-size: 1.3em;
        width: 95%;
    }#inf .input__dash{
        width: 120%;
    }
}